{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <div class="page-wrapper">
        <header id="header" class="alt">
            <h1><a href="index.html">Solid State</a></h1>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        {{ include('menuProfesseur.html.twig') }}
        <section id="banner">
            <div class="inner">
                <div class="logo"><span class="icon fa-film"></span></div>
                <h2>Voici GoodMovie</h2>
                <p>Un site responsive d&eacute;velopp&eacute; &agrave; partir de <a href="https://symfony.com/4">Symfony 4</a></p>
            </div>
        </section>
        <div class="wrapper">
            <div class="inner">
                <table class="table table-hover table-warning">
                    <thead>
                    <tr>
                        <th>nom Eleve</th>
                        <th>prenom Eleve</th>
                        <th>année scolaire</th>
                        <th>classe Eleve</th>
                        <th>nom du Tuteur</th>
                        <th>nom Entreprise</th>


                    </tr>
                    </thead>
                    <tbody>
                    {% for i in listeStageByUser %}
                        <tr>
                            <td>{{  i.user.nomUser }}</td>
                            <td>{{  i.user.prenomUser}}</td>
                            <td>{{  i.user.anneeScolaire}}</td>
                            <td>{{  i.user.classeUser}}</td>
                            <td>{{  i.tuteur.nomTuteur}}</td>
                            <td>{{  i.tuteur.entreprise.nomEntreprise}}</td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <section id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li>&copy; Untitled Inc. All rights reserved.</li><li>Design:
                        <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
























